<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: azure;
    "
  >
    <h1>
      Hi nice to meet you! my name is {{fname}} {{lname}} and welcome to my cv
    </h1>
    <br />
    <h2>i am {{age}} years old</h2>
    <br />
    <h2>
      i have {{experience}} years of experience in the software development
      field
    </h2>
  </body>
</html>
