<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pets</title>
    <link rel="stylesheet" href="../static/pets-style.css" />
  </head>
  <body>
    {% block content %} {% for pet in pets %}
    <div href="#" class="pet-card">
      <img class="pet-img" src="{{pet.image}}" />
      <p>name: {{pet.name}}</p>
      <p>gender: {{pet.gender}}</p>
      <p>breed: {{pet.breed}}</p>
      <p>date_of_birth: {{pet.date_of_birth}}</p>
      <p>details: {{pet.details}}</p>
      <p>price: {{pet.price}}$</p>
      <button>
        <a
          style="text-decoration: blink; color: black"
          href="http://127.0.0.1:5000/pet/{{pet.id}}"
          >choose</a
        >
      </button>
    </div>
    {% endfor %} {% endblock %}
  </body>
</html>
