body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  gap: 30px;
}

.robotcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lavenderblush;
  border-radius: 30px;
  font-size: xx-large;
}
