<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>

    <div class="expand navbar-expand" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
        {%if current_user.is_admin %}
        <li class="nav-item">
          <a class="nav-link" href="/add_film">Add Film</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add_director">Add Director</a>
        </li>
        {% endif %} {%else%}
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </div>
  {% if current_user.is_authenticated %}
  <h6>user: {{current_user.name}}</h6>
  {%endif%}
</nav>
