<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form method="POST">
      {% for message in get_flashed_messages() %}
      <h1>{{ message }}</h1>
      {% endfor %} {{ form.hidden_tag() }} {{ form.name.label }} {{
      form.name(size=32) }} {{ form.city.label }} {{ form.city(size=32) }} {{
      form.submit() }}
    </form>
  </body>
</html>
