<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <h1>my name is maor caplan</h1>
    <img
      src="https://pps.whatsapp.net/v/t61.24694-24/232890610_1015316982371265_482330945143002358_n.jpg?ccb=11-4&oh=44427317194b9c42408743f523ee92da&oe=622F1050"
    />
    <h2>my hobby is mountain biking</h2>
    <h2>my skills are javascript and python web development</h2>
    <h2>my strengths is patience and curiosity</h2>
    <h2>my weakness is i work slowly</h2>
  </body>
</html>
