<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>person</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="card">
      <h3>name: {{person_name}}</h3>
      <h3>email: {{person_email}}</h3>
      <h3>address: {{person_address}}</h3>
      <h3>numbers: {{person_number}}</h3>
      <h3>nationality {{person_nationality}}</h3>
    </div>
  </body>
</html>
