body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo {
  width: 300px;
  background-color: lightgoldenrodyellow;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  width: 200px;
}
