{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
    <link
      rel="stylesheet"
      href="{{ url_for('forum_bp.static', filename='style.css') }}"
    />
  </head>
  <body>
    {%if current_user.name%}
    <h1>Create a post</h1>
    <form method="POST">
      {{ form.hidden_tag() }} <br />
      {{ form.title.label }} : {{ form.title()|safe }} <br />
      {{ form.body.label }} : {{ form.body()|safe }}
      <br />
      <input type="submit" value="Submit" />
    </form>
    <h1>Posts</h1>

    {%for post in posts%}
    <div class="post">
      <h3>{{post.title}}</h3>
      <h4>{{post.body}}</h4>
      <h4>posted by: {{post.user}}</h4>
    </div>
    {%endfor%} {%else%}
    <h1>please log in first to use the forum</h1>
    {%endif%}
  </body>
</html>
