body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#catalog {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.gifcard {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border-radius: 25px;
  padding-top: 15px;
}

img {
  height: 250px;
  width: 250px;
  padding-bottom: 10px;
}
