body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.coin {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
}

.details {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
}
