body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.film {
  background-color: blanchedalmond;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
}
